/* 设置背景渐变 */
body {
  background-image: linear-gradient(to left, #9c88ff, #3cadeb);
  display: flex;
  justify-content: center;
}
.box-container {
  position: relative;
  top: 140px;
  width: 1100px;
  height: 550px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}
.box-left {
  width: 800px;
  height: 550px;
  background-image: url('../images/background1.jpg');
  /* 让图片自适应大小 */
  background-size: cover;
}
.box-right {
  display: flex;
  width: 300px;
  height: 550px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.boxRight-center {
  text-align: center;
  width: 250px;
  height: 500px;
}
.boxRight-center h1 {
  font: 900 30px '';
}
.common-info {
  width: 230px;
  margin: 20px 0;
  outline: none;
  border: 0;
  padding: 10px;
  border-bottom: 3px solid rgb(80, 80, 170);
  font: 900 16px '';
}
.forget-psd {
  float: right;
  margin: 10px 0;
  text-decoration: none;
}

.login {
  position: absolute;
  margin: 20px;
  bottom: 40px;
  display: block;
  width: 200px;
  height: 60px;
  font: 900 30px '';
  text-decoration: none;
  line-height: 50px;
  border-radius: 30px;
  background-image: linear-gradient(to left, #9c88ff, #3cadeb);
  text-align: center;
}
